@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .bg-custom-style {
    background-color: #57c4ff31;
  }
  .bg-custom-travel {
    background-color: #ff573131;
  }
  .bg-custom-fashion {
    background-color: #31ff5731;
  }
  .bg-custom-food {
    background-color: #3131ff57;
  }
  .bg-custom-culture {
    background-color: #5731ff31;
  }
  .bg-custom-coding {
    background-color: #31ff3157;
  }
}


.ql-container{
  font-size: 48px;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #b3b3b1
}